.head{
    background-color: rgba(221, 61, 61, 0.603);
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.head input[type=text]{
    
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.ico{
    padding: 10px;
    display: flex;
    
}

h2{
    color: rgb(52, 204, 52);
    font-family: cursive;
    
}

a{
    padding: 0px 45px 0px 45px;
    text-decoration: none;
    font-size: 22px;
    color:rgb(0, 0, 0);
}
li{
    list-style: none;
}
#fh{
    position:absolute;
    z-index: -1;
}

h1{
    text-align: center;
    font-family: cursive;
}
.image{
    position: relative;
}
.t{
    width:400px;
    height: 30px;
}

.j{
    width: 60px;
    height: 30px;
}
.search{
    margin-top: 35px;
    margin-left: 500px;
}