body{
    background-color:black;
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color:wheat;
    font-family: serif;
    font-size: 40px;
}
.head{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
input{
     
    appearance: textfield;
    width:300px;
    height:30px;
    
}
.btn{
    width:190px;
    font-size: 25px;
    height: 40px;
    cursor: pointer;
}
.btn:hover{
   background-color: green;
   color: whitesmoke;
}
   
